<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Where is my bus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/add-bus-route">Add Bus Route </a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="/places">Places</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/add-stops">Add Bus Stops </a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="/add-bus">Add Bus </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/add-bus-time">Add Bus Time </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/qr-code">Qr Code </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<script>
  document.title = 'Add Bus Stops'
</script>