<div class="container mt-5 ">
  <div class="row">


{{#each busRoutes}}

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{startingPlace}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{endingPlace}}</h6>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="single-route/{{_id}}" class="card-link">Another link</a>
        </div>
      </div>
    </div>

{{/each}}



  </div>
</div>