<div class="container inline-block w-50 mt-5">
  <form method="post" action="/add-bus" id="">
    <div class="form-group">
      <label for="formGroupExampleInput">Bus Name</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        name="busName"
      />
    </div>

        <div class="form-group">
      <label for="formGroupExampleInput">Bus Number</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        name="busNumber"
      />
    </div>

<select name="busRoute" class="form-control form-control-sm">
  <option  selected disabled>Choose a route</option>
  {{#each busRoutes}}
    <option class="text-dark" value="{{this._id}}">{{combinedName}}</option>
    {{/each}}
</select>

{{!-- </select> --}}

    {{!-- <div id="survey_options">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="formGroupExampleInput2"></label>
            <input type="text" class="form-control" value="" />
          </div>

          <div class="col">
            <label for="formGroupExampleInput2"></label>
            <input type="time" class="form-control" />
          </div>
        </div>

      </div>

    </div> --}}



    <div class="form-group">
      <label for="formGroupExampleInput2"></label>
      <input
        type="submit"
        class="form-control bg-primary text-light"
        id="formGroupExampleInput2"
        placeholder="Another input"
        value="Submit"
      />
    </div>

  </form>
</div>

<script src="scripts/dynamic-fields.js"></script>