<div class="container inline-block w-50 mt-5">
    <form method="post" action="/add-bus-route" id="">
  <div class="form-group">
    <label for="formGroupExampleInput">Starting</label>
    <input type="text" class="form-control" id="formGroupExampleInput" name="start">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Ending</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" name="end">
  </div>


<div id="survey_options">
 
</div>



    {{!-- <div class="form-group w-50 ">
    <input type="button" class="form-control bg-success text-light" id="add-fields"  onclick="createField()" value="Add Field" >
  </div> --}}


  <div class="form-group">
    <label for="formGroupExampleInput2"></label>
    <input type="submit" class="form-control bg-primary text-light" id="formGroupExampleInput2" placeholder="Another input" value="Submit" >
  </div>

</form>
</div>

<script src="scripts/dynamic-fields.js"></script>