<h1>Bus Stop Details</h1>
{{#if place}}
  {{!-- {{#each result}} --}}
    <p>Bus Stop: {{place}}</p>
  {{!-- {{/each}} --}}
{{else}}
  <p>{{error}}</p>
{{/if}}

{{#each result}}
  <p>Bus Name: {{this.busname}}</p>
  <p>Bus Time: {{this.bustime}}</p>
  <p>Bus Direction: {{this.direction}}</p>



{{/each}}



<img src="{{url}}" alt=""  id="myImage">

<button id="downloadBtn">Download</button>

<script>
  const downloadBtn = document.getElementById('downloadBtn');
  downloadBtn.addEventListener('click', () => {
    const url = document.getElementById('myImage').getAttribute('src');
    const downloadLink = document.createElement('a');
    downloadLink.href = url;
    downloadLink.download = "image.png";
    document.body.appendChild(downloadLink);
    downloadLink.click();
    document.body.removeChild(downloadLink);
  });
</script>