<div class="container inline-block w-50 mt-5">
  <form method="post" action="/add-bus-time" id="">

    <div class="mb-3">
      <select name="busRoute" class="form-control form-control-sm">
        <option selected disabled>Select Bus</option>
        {{#each buses}}
          <option class="text-dark" value="{{_id}}">{{busName}}</option>
        {{/each}}

      </select>

    </div>

    <div class="places_fields" id="places_fields">
      <div class="row mb-3">
      <div  class="col-6">
        <select name="places" class="form-control form-control-sm" id="placesID">
          <option selected disabled>Select Place</option>
          {{#each stops}}
            <option class="text-dark" value="{{_id}}">{{place}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-6">
        <input type="time"  name="timefield" required />
      </div>
      </div>
    </div>

  

    <div class="form-group w-50">
      <input
        type="button"
        class="form-control bg-success text-light"
        id="add-fields"
        onclick="createPlaceTimeField()"
        value="Add Bus Stops"
      />
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput2"></label>
      <input
        type="submit"
        class="form-control bg-primary text-light"
        id="formGroupExampleInput2"
        placeholder="Another input"
        value="Submit"
      />
    </div>

  </form>
</div>

<script>
  document.title = "Add Bus Time"
</script>

<script id="my-data" type="application/json">{{stops}}</script>

<script src="scripts/dynamic-fields.js"></script>