<div class="container inline-block w-50 mt-5">
    <form method="post" action="/add-stops" id="">

 


<div id="survey_options">
      <div class="form-group">
    {{!-- <label for="formGroupExampleInput2">Place 1</label> --}}
    <input type="text" class="form-control "  placeholder="Enter Place Here Eg: Town Stand" name="places">
  </div>
 
</div>



    <div class="form-group w-50 ">
    <input type="button" class="form-control bg-success text-light" id="add-fields"  onclick="createField()" value="Add Bus Stops" >
  </div>


  <div class="form-group">
    <label for="formGroupExampleInput2"></label>
    <input type="submit" class="form-control bg-primary text-light" id="formGroupExampleInput2" placeholder="Another input" value="Submit" >
  </div>

</form>
</div>

<script src="scripts/dynamic-fields.js"></script>