<img id="myImage" src="{{url}}" alt="" width="auto" height="500">
<button id="downloadBtn">Download</button>

<script>
  const downloadBtn = document.getElementById('downloadBtn');
  downloadBtn.addEventListener('click', () => {
    const url = document.getElementById('myImage').getAttribute('src');
    const downloadLink = document.createElement('a');
    downloadLink.href = url;
    downloadLink.download = "image.png";
    document.body.appendChild(downloadLink);
    downloadLink.click();
    document.body.removeChild(downloadLink);
  });
</script>