<div class="row mb-3">
    <div id="survey_options" class="col-6">
      <select name="busRoute" class="form-control form-control-sm">
        {{! <label for="my-select">Select an option:</label>

      <input type="text" list="my-select-list" id="my-select">
<datalist id="my-select-list"> }}

        <option selected disabled>Select Place</option>
        {{#each stops}}
          <option class="text-dark" value="{{_id}}">{{place}}</option>
        {{/each}}

      </select>
      {{! </datalist> }}

    </div>
    <div class="col-6">
      <input type="time" value="6:00" ; />
    </div>

  </div>
